<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; border:5px solid green; height:300px;">
  <h1>
    Welcome to {{title}}!
  </h1>


  <app-child-1> 
      
      loading...
             <p> Welcome In India </p>
             <h1>Welcome In US</h1>
             <header> Hi, I'm header</header>
             <footer> Hi, I'm footer</footer>
             <div class="name"> Singapore</div>
             <div id="imp"> Radical Institute</div>





    </app-child-1>




  
</div>

<div>
      First Name :<input type ="text" [(ngModel)]="title">
      
      
      <app-child-1> 
        
        loading...
               <p> Welcome In India </p>
               <h1>Welcome In US</h1>
               <header> Hi, I'm header</header>
               <footer> Hi, I'm footer</footer>
               <div class="name"> Singapore</div>
               <div id="imp"> Radical Institute</div>





      </app-child-1>

      <app-input-demo [name]="title" [show]="false"></app-input-demo>



      
</div>
